// 鼠标悬停后颜色
$link-hover-green = #00AA90

// 用``围出的代码块字体颜色
$code-foreground = #005CAF

// 用``围出的代码块背景颜色
$code-background = #EEE

// Global link color.
$link-hover-color             = $link-hover-green
$link-decoration-hover-color  = $link-hover-green

// 圆角设置
$border-radius-inner     = 20px 20px 20px 20px;
$border-radius           = 20px;